# Ignore everything in services folder
services/*
!services/.gitignore

# Ignore everything in images folder
images/*
!images/.gitignore

# Don't ignore these specific files/folders if they exist
!images/logo.png
!images/background.jpg